In [1]:
import run

hello

In [2]:
run.run()

would you like to use your camera? y/n  n
please input image path or url  images/large-receipt-image-dataset-SRD/1007-receipt.jpg

  Zipcode  Latitude  Longitude          Address  prices     time Store Names
0   28168  -81.4589    35.5188  8168 Hewitt Ave  $36.00  8:47 PM          wy wy
Katana Sushi
28168 Hewitt Ave
Everett, WA 96201
425-512-9361
HW A i a AO
Server: Michael C
05/11/18 8:47 PM

Check #93 Table D2
Hamachi Collar $12.00
Mega Poke Bowl $17.00
Hamachi - Sashimi $12.00
Maguro - Sashimi $11.00
Salmon - Sashimi $10.00
3 Sockeye Salmon - Sashimi

$36.00
Hamachi Japapeno $12.00
Salmon Collar $10.00
Escolar - Sashimi $11.00
Subtotal $131.00
Tax $12.71
Total $143.71

OKO KKK Say
Thank You for your visit.

In [2]:
df, text= run.run()

would you like to use your camera? y/n  n
please input image path or url  images/large-receipt-image-dataset-SRD/1007-receipt.jpg

  Zipcode  Latitude  Longitude          Address  prices     time Store Names
0   28168  -81.4589    35.5188  8168 Hewitt Ave  $36.00  8:47 PM          wy wy
Katana Sushi
28168 Hewitt Ave
Everett, WA 96201
425-512-9361
HW A i a AO
Server: Michael C
05/11/18 8:47 PM

Check #93 Table D2
Hamachi Collar $12.00
Mega Poke Bowl $17.00
Hamachi - Sashimi $12.00
Maguro - Sashimi $11.00
Salmon - Sashimi $10.00
3 Sockeye Salmon - Sashimi

$36.00
Hamachi Japapeno $12.00
Salmon Collar $10.00
Escolar - Sashimi $11.00
Subtotal $131.00
Tax $12.71
Total $143.71

OKO KKK Say
Thank You for your visit.

In [3]:
df

  Zipcode  Latitude  Longitude          Address  prices     time Store Names
0   28168  -81.4589    35.5188  8168 Hewitt Ave  $36.00  8:47 PM          wy

In [4]:
print(text)

wy
Katana Sushi
28168 Hewitt Ave
Everett, WA 96201
425-512-9361
HW A i a AO
Server: Michael C
05/11/18 8:47 PM

Check #93 Table D2
Hamachi Collar $12.00
Mega Poke Bowl $17.00
Hamachi - Sashimi $12.00
Maguro - Sashimi $11.00
Salmon - Sashimi $10.00
3 Sockeye Salmon - Sashimi

$36.00
Hamachi Japapeno $12.00
Salmon Collar $10.00
Escolar - Sashimi $11.00
Subtotal $131.00
Tax $12.71
Total $143.71

OKO KKK Say
Thank You for your visit.

In [ ]:
images/large-receipt-image-dataset-SRD/1007-receipt.jpg

In [10]:
import numpy as np

In [12]:
np.ones((5,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])